/* wwwroot/css/style.css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #dc7b25 !important;
	width: 100%;
	height: 60px; /* Đặt chiều cao cố định cho navbar */
	box-sizing: border-box;
}

	.Header img.logo {
		max-height: 100%; /* Logo không vượt quá chiều cao của Header */
		object-fit: contain; /* Đảm bảo logo không bị méo */
	}

	.Header nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		gap: 20px;
	}

		.Header nav ul li {
			display: inline;
		}

			.Header nav ul li a {
				font-family: 'Arial', sans-serif;
				text-decoration: none;
				color: #333;
				font-size: 20px;
				font-weight: bold;
			}

				.Header nav ul li a:hover {
					color: #007bff;
				}

			.Header nav ul li .login-button {
				display: inline-block;
				padding: 8px 16px;
				background-color: crimson;
				color: white;
				border-radius: 4px;
				text-decoration: none;
			}

				.Header nav ul li .login-button:hover {
					background-color: darkred;
				}

main {
	flex: 1;
	width: 100%;
	box-sizing: border-box;
}

.Title {
	margin: 0;
	padding: 20px;
	text-align: center;
}
