@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
<head>
    <title>SIMS Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <img src="~/img/Home.jpg" alt="SIMS"/>
</body>